dotenv==0.9.9
numpy==2.2.6
pandas==2.3.3
openai==2.6.1
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
matplotlib==3.10.7
spacy==3.8.7
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
jieba==0.42.1
torch==2.9.0
transformers
datasets==4.3.0
tqdm==4.67.1
python-dotenv==1.2.1
requests==2.32.5
joblib==1.5.2